@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

        
.outline-text {
    -webkit-text-stroke: 1px rgba(0, 33, 71, 0.1);
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 900;
    user-select: none;
}

.outline-text-white {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 900;
    user-select: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-active {
    animation: fadeInUp 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.reveal-hidden {
    opacity: 0;
}